@use "colors";

body {
  background-color: colors.$grey;
  margin: 0;

  &.modal-open {
    overflow: hidden;
  }
}

a, button, .button {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

h1 {
  color: colors.$white;
  background-color: colors.$light-blue;
  border-radius: 10px;
  margin-top: 30px;
}
.white-bg {
  background-color: colors.$white;
  color: colors.$blue-scorp;
}

.dark-blue-bg {
  background-color: colors.$blue-scorp;
  color: colors.$white;
}