@use 'colors';

.hero-cta {
  max-width: 100%;
  margin: 0 auto;
  padding: 70px 0;

  background-attachment: local;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/images/heroBGScorpio.jpeg");
  background-blend-mode: darken;
  color: colors.$blue-scorp;

h1{
  background-color: transparent;
  color: colors.$blue-scorp;
}
  .hero-message {
    text-align: center;
  }
  button{
    background-color: colors.$light-blue;}

}