@use 'colors';

.navigation-bar-top {
  background-color: white;
  .navigation-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: white;
  }

  .navigation-logo, .navigation-item, .navigation-item a{
    transition: color 0.2s ease;
    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-item {
    color: colors.$font-color-dark;
    transition: color 0.2s ease;
    //padding: 0.25rem 0;
    //margin: 0 1.5rem;
    width: auto;
    &.active, &:active {
      color: colors.$white;
      background-color: colors.$highlight-color;
    }
    &:hover {
      color: colors.$white;
      background-color: lighten(colors.$highlight-color, 10%);
    }
  }

  button {
    margin: 0 .5rem;
  }

  .separator-bottom {
    border-bottom: 1px solid colors.$grey-001;
    padding: 12px 0;
  }

  .navigation-logo {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  .navbar-collapse {
    flex-grow: unset;
  }

  .navigation-item {
    padding: .5rem 0;
    a {
      padding: 6px 0;
    }

    &.active {
      a {
        border-bottom-style: solid;
        transition: border-bottom-color 0.2s ease;
      }

      &:hover {
        a {

        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &.navbar {
      padding: 1rem;
    }

    .navigation-item {
      padding: .5rem 0;

      a {
        margin: 0 0.5rem;
        &.active {
          border-bottom-style: solid;
          transition: border-bottom-color 0.2s ease;
          &:hover {

          }
        }
      }
    }
  }
}