@use 'fonts';
@use 'colors';

.product-cards-section {
  padding: 50px 0;

  h4 {
    font-weight: bold;
  }

  .card-img-top {
    position: relative;
    width: 100%;
    height: 150px;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }
  }

  .card {
    &.side-img {
      flex-direction: row;
      img {
        display: block;
        width: 50%;
      }
    }
  }

  .card-img-left {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }

  .card {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.06);
    }
  }

  .higlight {
    color: lighten(colors.$scorpio-blue-01, 10%);
  }

  @include media-breakpoint-down(md) {
    .card {
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .card-img-top {
      height: 300px;
      img {
        height: 300px;
      }
    }
  }

}