@use 'fonts';
@use 'colors';

.product-cards-section {
  padding: 50px 0;

  .card {
    &.side-img {
      flex-direction: row;
      img {
        display: block;
        width: 50%;
      }
    }
  }
  .card-img-left {

  }

}