<section class="cta-section">
    <div class="cta-message">
    <h2><%- mainText %></h2>
    <p><%- secondaryText %></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact-modal">Leer Más</button>
    </div>
</section>

