<section class="footer-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Químicas Scorpio</h4>
                <p>
                    Somos una empresa 100% mexicana con más de 30 años de experiencia en el sector de adhesivos industriales y escolares atendiendo todo tipo de mercado formulando a la medida del usuario.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Contacto</h4>
                <table class='info-table'>

                    <tr>
                        <td>Correo Electronico:</td>
                        <td class='data pb-3'><a href='mailto:daniela.perez@solecap.com.mx'>daniela.perez@solecap.com.mx</a>
                            <a href='mailto:cesar.calderon@solecap.com.mx'>cesar.calderon@solecap.com.mx</a>
                            <a href='mailto:diana.vazquez@solecap.com.mx'>diana.vazquez@solecap.com.mx</a>
                            <a href='mailto:mario.gonzalez@solecap.com.mx'>mario.gonzalez@solecap.com.mx</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Teléfonos:</td>
                        <td class='data'><a href='tel:5589118798'>55 8911 8798</a></td>
                    </tr>
                    <tr>
                        <td class='pb-3'></td>
                        <td class='data pb-3'><a href='tel:5589118973'>55 8911 8973</a></td>
                    </tr>
                    <tr>
                        <td class='pb-3'>Dirección operativa:</td>
                        <td class='data pb-3'>Xochitl 5, Col Sta Clara, Ecatepec de Morelos , Edo México</td>
                    </tr>
                    <tr>
                        <td class='pb-3'>Dirección corporativa:</td>
                        <td class='data pb-3'>Xochitl 5, Col Sta Clara, Ecatepec de Morelos , Edo México</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Servicios</h4>
                <ul>
                    <% collections.productos.forEach((navPage) => { %>
                        <% if (!navPage.data || !navPage.data.title) return;%>
                        <li>
                            <a class="navigation-item<%- ` ${page.url === navPage.url && 'active'}` %>"
                               href="<%- navPage.url %>">
                                <%= navPage.data.title %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>