<div class="map-block">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1879.980933960378!2d-99.07185824195648!3d19.543250596705345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f0907d028ab9%3A0x1ae0e5d8bd8f675f!2sXochitl%205%2C%20Santa%20Clara%20Coatitla%2C%2055540%20Ecatepec%20de%20Morelos%2C%20M%C3%A9x.!5e0!3m2!1sen!2smx!4v1614033320313!5m2!1sen!2smx" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>