<div class="map-block">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.315753938665!2d-99.06510828514152!3d19.528052986830126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fa78d543fab7%3A0x44028e29204bd04e!2sXochitl%205%2C%20Cardonal%20Xalostoc%2C%2055320%20Ecatepec%20de%20Morelos%2C%20M%C3%A9x.!5e0!3m2!1sen!2smx!4v1612202580291!5m2!1sen!2smx" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>