<section class="productos">
    <div class='container'>
        <div class="productos-head">
            <h2>Productos</h2>
        </div>
         <div class='row'>
             <div class="product-card">
                <div class="product-image">
                 <img src="images/logo.png" alt="Adhesivo 1">
                </div>
             <div class="product-info">
                <h5>Adhesivo espreable (805) </h5>
                <h6>$99.99</h6>
             </div>
             </div>
    <div class="product-card">
        <div class="product-image">
            <img src="images/logo.png" alt="Adhesivo 2">
        </div>
        <div class="product-info">
            <h5>Adhesivo blanco para pegado de madera (505)</h5>
            <h6>$19.99</h6>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img src="images/logo.png" alt="Adhesivo 3">
        </div>
        <div class="product-info">
            <h5>Adhesivo para pegado de armados (510)</h5>
            <h6>$99.99</h6>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img src="images/logo.png" alt="Adhesivo 4">
        </div>
        <div class="product-info">
            <h5>Solvente de limpieza y dilución de adhesivos (710)</h5>
            <h6>$99.99</h6>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img src="images/logo.png" alt="Adhesivo 5">
        </div>
        <div class="product-info">
            <h5>Adhesivo para migajón artístico (RPA 500)</h5>
            <h6>$99.99</h6>
        </div>
    </div>
       </div>
    </div>
</section>