<section class="team-block">
<div class="container">
    <h1 class="text-center">Equipo de trabajo</h1>
    <div class="row">

        <!--miembro-1-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" alt="Miembro1" />
                    <h3>Fulanito de Tal</h3>
                    <p>CEO</p>
                </div>

                <div class="team-back">
	            <span>
	            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
	            natoque penatibus et magnis dis parturient montes.
	            </span>
                </div>

            </div>
        </div>
        <!--miembro-1-->

        <!--miembro-2-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid" alt="Miembro 2" />
                    <h3>Fulano 2</h3>
                    <p>CTO</p>
                </div>

                <div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
	natoque penatibus et magnis dis parturient montes.
	</span>
                </div>

            </div>
        </div>
        <!--miembro-2-->

        <!--miembro-3-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid" alt="Miembro 3" />
                    <h3>Fulano 3</h3>
                    <p>COO</p>
                </div>

                <div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
	natoque penatibus et magnis dis parturient montes.
	</span>
                </div>

            </div>
        </div>
        <!--miembro-3-->




    </div>
</div>
</section>