---
title: 'Nosotros'
permalink: 'about/index.html'
---

<section class="hero-cta">
    <div class="hero-message">
        <h1>ACERCA DE NOSOTROS</h1>
        <h3>Químicas Scorpio es una empresa mexicana con 30 años de existencia,</h3>
        <h4>constituida por una mujer que ofrece productos hechos a la medida de una excelente calidad y costos accesibles.</h4>
    </div>
</section>
